
@font-face {
    font-family:"Roboto" ;
    src: url(https://fonts.google.com/specimen/Roboto);
}
.container-catalogue {
    background-color: rgba(240,240,240,255);
    padding: 1%;
}

.footer-container {
    background-color: rgba(240,240,240,255);

}

.carrousel-element {
    height: 60vh;
    
}

.btn {
    background-color: #d66a6a;
    color: white;
}

.product-image {
    height: 30vh;
    max-width: 20vw;
}

.rights{
    color: #d66a6a;
}


/* BODY
 * ------------------------------------------------------------------------- */

 body {
    display: flex;
  
    margin: 0;
  
    min-width: var(--dom--min-width);
    min-height: 100%;
  
    flex-direction: column;
  
    font-family: sans-serif;
  
    background-image: url(./images/ui/background.jpg);
      background-color: rgba(14,14,16,255);
      background-repeat: no-repeat;
      background-size: 100% 90%;
      background-size: cover;
      
  }